<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Almosafer site">
    <test name="regression">
        <classes>
            <class name="almosafer.HomePageTest"/>
            <class name="almosafer.FlightsTest"/>
            <class name="almosafer.HotelsTest"/>
            <class name="almosafer.ChaletsTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
